/* Header styles */
header {
    background-color: #333;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }
  
  .logo h1 {
    font-family: 'Arial Black', sans-serif;
    font-size: 24px;
    margin: 0;
  }
  
  /* Navigation styles */
  .nav-links {
    list-style: none;
    display: flex;
  }
  
  .nav-links li {
    margin-right: 20px;
  }
  
  .nav-links li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
  }
  
  .nav-links li a:hover {
    text-decoration: underline;
  }
  
  /* Form container and input styles */
  .form-container {
    margin: 10px;
  }
  
  .custom-form {
    padding: 10px;
    /* background-color: #f5f5f5; */
    border-radius: 8px;
  }
  
  .custom-form label {
    display: block;
    margin-bottom: 3px;
    font-weight: bold;
  }
  
  .custom-form input[type="text"],
  .custom-form input[type="number"],
  .custom-form textarea,
  .custom-form select {
    width: calc(100% - 10px);
    padding: 5px;
    margin-bottom: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: medium;
  }
  
  .checkbox-group input[type="checkbox"] {
    margin-right: 5px;
  }
  
  .custom-form input[type="submit"] {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .custom-form input[type="submit"]:hover {
    background-color: #555;
  }
  

  