<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Navbar Example</title>
</head>
<body>
  <header>
    <div class="logo">
      <h1>Fund Distribution System</h1>
    </div>
    <nav>
        <ul class="nav-links">
          <li><a class="active" [routerLink]="['/adminApprovalPage']">Approve Applicant</a></li>
          <li><a [routerLink]="['/adminHomePage']">Add Scheme</a></li>
          <li><a [routerLink]="['/loginPage']">Logout</a></li>
        </ul>
      </nav>
  </header>

  <div class="container">
    <table class="table table-hover top-margin">
        <thead>
          <th>#</th>
          <th>ApplicationId</th>
          <th>SchemeNonce</th>
          <th>UserEmail</th>
          <th>UserType</th>
          <th>ApplicantType</th>
          <th>SchemeTitle</th>
          <th>ApproveOperation</th>
          <th>RejectOperation</th>
          
          <th></th>
        </thead>
        <tbody>
          <tr *ngFor="let entry of adminApprovalList;let i = index"> 
              <th >{{i+1}}</th>
              <td>{{entry.applicationId}}</td>
              <td>{{entry.schemeNonce}}</td>
              <td >{{entry.userEmail}}</td>
              <td>{{entry.userType}}</td>
              <td>{{entry.applicantType}}</td>
              <td>{{entry.schemeTitle}}</td>
              <td><button type="submit" (click)="approveApplication(entry.userEmail,entry.applicationId)" class="btn btn-secondary-approve"> Approve </button></td>
              <td><button type="submit" (click)="rejectApplication(entry.userEmail,entry.applicationId)" class="btn btn-secondary-reject"> Reject </button></td>
            </tr>
  
      </tbody>
  
        <!-- <tbody>
          <tr *ngFor="let gr of list; let i = index"  [attr.data-index]="i">
            <ng-container *ngIf="bidType !='finalBid'">
            <td >gr</td>
            <td >nfdafAUCNinv9EGUJVNJAW09GEg9e</td>
            <td >SURENDRASHEWARG@GMAil.com</td>
            <td >1,00,00,00,00,00,000</td>
            <td >20-11-2023 12.00.00</td>
            <td >nfdafAUCNinv9EGUJVNJAW09GEg9e)</td>
            <td >Student</td>
          </ng-container>
          </tr>
        </tbody> -->
      </table>
  </div>

</body>
</html>
