<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Navbar Example</title>
</head>
<body>
  <header>
    <div class="logo">
      <h1>Fund Distribution System</h1>
    </div>
    <nav>
      <ul class="nav-links">
        <li><a href="#"  class="inactive">Approve Applicant</a></li>
        <li><a href="#" class="active">Add Scheme</a></li>
        <li><a [routerLink]="['/loginPage']">Logout</a></li>
      </ul>
    </nav>
  </header>

  <div class="container">
<!-- <div class="container"> -->
    <table class="table table-hover top-margin">
        <thead>
          <th>#</th>
          <th>Nonce</th>
          <th>Prev Hash</th>
          <th>Product Title</th>
          <th>Product ID</th>
          <th>QR String</th>
          <th>Hash</th>
          <th>Scan Count</th>
          
          <th></th>
        </thead>
        <tbody>
          <tr *ngFor="let block of productsChainList;let i = index"> 
              <th >{{i}}</th>
              <td>block.nonce</td>
              <td class="editable" contenteditable="true" >block.prevHash.substring(0,7)</td>
              <td>block.productTitle</td>
              <td>block.productId</td>
              <td>block.qrString</td>
              <td>block.hash.substring(0,7)</td>
              <td>block.scanCount</td>
              <td><button type="submit" (click)="updateProductDetails()" class="btn btn-secondary"> Update </button></td>
            </tr>
  
      </tbody>
  
        <!-- <tbody>
          <tr *ngFor="let gr of list; let i = index"  [attr.data-index]="i">
            <ng-container *ngIf="bidType !='finalBid'">
            <td >gr</td>
            <td >nfdafAUCNinv9EGUJVNJAW09GEg9e</td>
            <td >SURENDRASHEWARG@GMAil.com</td>
            <td >1,00,00,00,00,00,000</td>
            <td >20-11-2023 12.00.00</td>
            <td >nfdafAUCNinv9EGUJVNJAW09GEg9e)</td>
            <td >Student</td>
          </ng-container>
          </tr>
        </tbody> -->
      </table>
      <!-- <div class="row">
        <button type="submit" (click)="sendNotification()" class="btn btn-primary">Send Notifications</button>
        <hr>
        <button type="submit" (click)="finalizingWork()" class="btn btn-primary">Finalize work</button>
      </div> -->
      <!-- <br><br> -->
    <!-- </div> -->
  </div>

</body>
</html>



